<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>NotiClearer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.icraze.noticlearerprefs</string>
			<key>key</key>
			<string>kEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.icraze.noticlearerprefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Time Until Dismiss</string>
			<key>footerText</key>
			<string>This is how long the notification will take to be automatically cleared. (Measured in seconds)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>key</key>
			<string>kDismissWaitTime</string>
			<key>defaults</key>
			<string>com.icraze.noticlearerprefs</string>
			<key>PostNotifcation</key>
			<string>com.icraze.noticlearerprefs.settingschanged</string>
			<key>min</key>
		    <real>5</real>
			<key>max</key>
		    <real>300</real>
			<key>default</key>
		    <real>60</real>
		    <key>showValue</key>
		    <true/>
		    <key>isSegmented</key>
		    <true/>
		    <key>segmentCount</key>
		    <integer>59</integer>
		</dict>
	</array>
	<key>title</key>
	<string>NotiClearer</string>
</dict>
</plist>
